img.tractpic {
    display: block;
}

div.button {
    cursor: pointer;
    display: inline;
    font-size: 2em;
}

div.author {
    text-align: right;
    font-style: italic;
}

div.rightnav {
    text-align: right;
}

div.stat {
    border: 1px #eee solid;
    float: left;
    width: 150px;
    margin: 5px;
}

.stat_title {
  text-align: right;
  font-size: 1.2em;
  text-align: left;
}

.stat_local {
    float: right;
    margin-left: 5px;
}

.stat_global {
    float: right;
}


div.inline {
    display: inline;
}

div#credits {
    font-size: .5em;
    text-align: right;
}

div.container {
  font-family: 'Old Standard TT', arial, serif;

}

h1#title {
    font-family: 'Old Standard TT', arial, serif;

}

div.debug {
visibility: hidden;
}
