img.tractpic {
    display: block;
}

div.button {
    cursor: pointer;
    display: inline;
    font-size: 20pt;
}

div.author {
    text-align: right;
    font-style: italic;
}

div.rightnav {
    text-align: right;
}

div.stat {
}

div.inline {
    display: inline;
}
