<!DOCTYPE HTML>
<html>

  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <script src="https://github.com/documentcloud/underscore/raw/master/underscore.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script src="https://github.com/documentcloud/backbone/raw/master/backbone.js"></script>
    <!--<script src="js/jquery.js"></script>
    <script src="js/underscore.js"></script>
    <script src="js/backbone.js"></script>-->
    <script src="js/censusapp.js"></script>
    
    <!-- The 1140px Grid -->
	<link rel="stylesheet" href="css/1140.css" type="text/css" media="screen" />
	
	<!--[if lte IE 9]>
	<link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" />
	<![endif]-->
	
	<!-- Type and image presets - NOT ESSENTIAL -->
	<link rel="stylesheet" href="css/typeimg.css" type="text/css" media="screen" />
	<!-- Make minor type adjustments for 1024 monitors -->
	<link rel="stylesheet" href="css/smallerscreen.css" media="only screen and (max-width: 1023px)" />
	<!-- Resets grid for mobile -->
	<link rel="stylesheet" href="css/mobile.css" media="handheld, only screen and (max-width: 767px)" />
	<!-- Put your layout here -->
	<link rel="stylesheet" href="css/layout.css" type="text/css" media="screen" />
    <!-- This one is actually from us! -->
    <link rel="stylesheet" href="css/gistofus.css" type="text/css"/>
    
    
  </head>

  <body>
    <div id='census-app' class='container'>        
      
      <div id='title-row' class='row'>
        <div class='title twelvecol last'>
          <h1>gistof.us</h1>
        </div>      
      </div>      

      <div id='tract-view-box'></div>     
      
      <div id='credits' class='row'>These are the credits</div> <!-- ROW -->
    </div>     
  </body>

  <!-- Templates -->
  <script type='text/template' id='tract-template'>
      <div class='tract-view'>        
          <div class='tract-content row'>         <!-- ROW -->
            <div class='fourcol'>&nbsp;</div>
            <div class='tract-pictures sixcol'></div>
            <div class='fourcol last'>&nbsp;</div>

          <div class='tract-nav row'> <!-- ROW -->
            <div class='onecol'>
                <div id="left" class="button">&#171;</div>
                <div id="previousPicture" class="button">&lang;</div>
            </div>
            <div class='padding tencol'>&nbsp;</div>
            <div class='onecol last rightnav'>
                <div id="nextPicture" class="button">&rang;</div>
                <div id="right" class="button">&#187;</div>
            </div>
          </div>



            <div class='padding row threecol'>&nbsp;</div> <!-- ROW -->
            <div class='tract-stats sixcol'> 
                #<%= tractid %><br/>
                Population: <%= data.population %><br/>
            </div>
            <div class="padding threecol last">&nbsp;</div>

          </div>
          
          <div class='tract-stats'></div>       
      </div>
      
  </script>
    
  <script type='text/template' id='imgdiv-template'>
      <div class='imgdiv'>
          <img class="tractpic" src='<%= pictures[nowImgIndex].url %>'></img>
          <div class="author"><%= pictures[nowImgIndex]['order'] %>: <%= pictures[nowImgIndex].metadata.author %><div>
      </div>
  </script>
  
</html>
