<!DOCTYPE HTML>
<html>

  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<!--    <script src="https://github.com/documentcloud/underscore/raw/master/underscore.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<!--    <script src="https://github.com/documentcloud/backbone/raw/master/backbone.js"></script>-->
    <!--<script src="js/jquery.js"></script>-->
    <script src="js/underscore.js"></script>
    <script src="js/backbone.js"></script>
    <script src="js/censusapp.js"></script>
    <script src="js/sparklines.js"></script>
    
    <!-- The 1140px Grid -->
	<link rel="stylesheet" href="css/1140.css" type="text/css" media="screen" />
	
	<!--[if lte IE 9]>
	<link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" />
	<![endif]-->
	
	<!-- Type and image presets - NOT ESSENTIAL -->
	<link rel="stylesheet" href="css/typeimg.css" type="text/css" media="screen" />
	<!-- Make minor type adjustments for 1024 monitors -->
	<link rel="stylesheet" href="css/smallerscreen.css" media="only screen and (max-width: 1023px)" />
	<!-- Resets grid for mobile -->
	<link rel="stylesheet" href="css/mobile.css" media="handheld, only screen and (max-width: 767px)" />
	<!-- Put your layout here -->
	<link rel="stylesheet" href="css/layout.css" type="text/css" media="screen" />
    <!-- This one is actually from us! -->
    <link rel="stylesheet" href="css/gistofus.css" type="text/css"/>

    <script type="text/javascript" src="http://use.typekit.com/czs6ani.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    
    
  </head>

  <body>
    <div id='census-app' class='container'>        
      <div id='title-row' class='row'>
        <div class='title twelvecol last'>
          <h1 id='title'>gistof.us</h1>
        </div>      
      </div>
      Tracts:
      <div class='debug'>
          <span id='DEBUG-nowTract'>???</span>/<span id='DEBUG-numTracts'>???</span>
      </div>

      <div id='tract-view-box'></div>     
      <div class='debug'>
            Tract orders: <span class='inlinesparkline'></span>
      </div>
      <div id='credits' class='twelvecol row last'>These are the credits</div> <!-- ROW -->
    </div>     
  </body>

  <!-- Templates -->
  <script type='text/template' id='tract-template'>
      <div class='tract-view'>        
          <div class='tract-content row'>         <!-- ROW -->
            <div class="onecol">&nbsp;</div>
            <div class='threecol'>
                <a href="#" id="left">Previous Tract</a>
                <a href="#" id="previousPicture">Previous Picture</a>
                <div class='stat inline'>#<%= tractid %></div><br>
                <div class='stat inline'>Pop: <%= data.population %></div><br>
                <div class='debug'>
                    <div class='stat inline'>Order: <%= order %></div><br>
            		<div class='stat inline'>Pics: <%= pictures.length %></div>
                </div>
            </div>
            <div class='tract-pictures fivecol'></div>
            <div class='threecol last'>
                <a href="#" id="nextPicture">Next Picture</a>
                <a href="#" id="right">Next Tract</a>
            </div>
      </div>
      
  </script>
    
  <script type='text/template' id='imgdiv-template'>
      <div class='imgdiv'>
          <img class="tractpic" src='<%= pictures[nowImgIndex].url %>'></img>
          <div class="author"><%= pictures[nowImgIndex]['order'] %>: <%= pictures[nowImgIndex].metadata.author %><div>
      </div>
  </script>
  
</html>
